nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
}

.navbar-menu-container {
    display: none;
}

.navbar-menu-container HiOutlineBars3 {
    width: 500px;
}

.navbar-links-container a {
    margin-right: 3rem;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}

.navbar-links-container a:hover {
  margin-right: 3rem;
  text-decoration: none;
  color: #422f9c;
  font-size: 1.1rem;
  font-weight: 600;
}

.boton-primario {
    padding: 0.9rem 1.75rem;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.boton-primario:hover {
    background-color: #422f9c;
}

@media (max-width: 1000px) {
    .navbar-links-container a {
      margin-right: 1rem;
      font-size: 1rem;
    }
    .boton-primario {
      font-size: 1rem;
    }
}

@media (max-width: 800px) {
    .nav-logo-container {
      max-width: 140px;
    }
    .navbar-links-container {
      display: none;
    }
    .navbar-menu-container {
      display: flex;
    }
}